body{
  background:url('bg.jpg') bottom center;
}

#settings{
  position:absolute;
  left:0;
  top:0;
  padding: 5px;
  margin: 5px;
  border:1px solid #BA3636;
  background:rgba(11,22,22,0.9);
  color: #BA3636;
  font-size:17px;
}
